<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>
            {% block title %}Student Management System{% endblock %}
        </title>

        {% block stylesheets %}<link href="{{ asset('css/style.css') }}" type="text/css" rel="stylesheet" />{% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body>
        <div id="header">
            <h1>Student Management System</h1>
            {% block header %}
            {% endblock %}
        </div>

        <div id="sub-header">
            {% block subheader %}
            {% endblock %}
        </div>

        <div id="wrapper">
            {% block content %}{% endblock %}
        </div>

        <div id="footer">
            {% block footer %}
            {% endblock %}
        </div>

        {% block javascripts %}{% endblock %}
    </body>
</html>
