*{margin: 0; padding: 0;}
	body {font-family: arial;}
	a {text-decoration: none;}
	.header {width: 100%; border-bottom: 1px solid #A7A7A7; padding: 10px 0; display: inline-block;}
	.header h1 {font-size: 20px; float: left;}
	.wrapper {width: 90%; margin: 0 5%; background: #fff;}
	.tbl-list {border-collapse: collapse;}
	.tbl-list th, .tbl-list td {border: 1px solid #aeb6bf; padding: 10px; font-size: 16px; text-align: left;}
	.tbl-list th {background:#aeb6bf; color: #fff; border: 1px solid #85929e ;}
	.hear-btn {float: right;}
	.hear-btn a {background:#16a085; font-size: 16px; padding: 8px 15px; font-weight: bold; color: #fff;}
	.total {float: left;}
	.total h2 {font-size: 14px; padding: 12px 0;}
	.search {float: right;}
	.search input {width: 300px; height: 40px; border: 2px solid #e5e8e8; padding: 0 10px;}
	.search button {height: 40px; background:#34495e; border: 2px solid #34495e; padding: 0 15px; font-size: 14px; color: #fff; font-weight: bold;}
	.col {padding:20px 0; display: flow-root;}
	.pagination {padding: 15px 0 0 0;}
	.pagination ul li {font-size: 14px; padding: 8px 12px; background: #D8D8D8; color: #000; list-style: none; float: left; margin: 0 3px 0 0; cursor: pointer;}
	.pagination ul .active {background: #2e4053; color: #fff; cursor: default;}
	.action span a {font-size: 13px; color: #fff; background: #5d6d7e; padding: 5px;}
	.forms {width: 700px; margin: 0 auto;}
	.forms h2 {font-size: 18px; text-align: center; padding: 20px 0;}
	.forms .frm-flds {width: 100%; padding: 10px 0;}
	.forms .frm-flds p {font-size: 16px; padding: 5px 0;}
	.forms .frm-flds .txt-box {width: 100%; height: 40px; border: 2px solid #e5e8e8; font-size: 16px; padding: 0 10px; box-sizing: border-box;}
	.forms .frm-flds textarea {height: 150px !important;}
	.txt-btn {font-size: 20px; padding: 15px 20px; font-weight: bold; background:#5d6d7e; border: none; cursor: pointer; color: #fff;}
	.error .txt-box {border: 2px solid #F73A3D !important;}
	.error-txt {font-size: 14px; color: #FF5659; padding: 5px 0;}
    .hidden { display: none; }